<div class="bg-account">
  <div class="container d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-4 mt-3 w-100" style="max-width: 450px; border-radius: 20px; margin-bottom: 4px;">
    <h2 class="text-center mb-3 text-account-color">Create Account</h2>

    <form [formGroup]="registerForm">
 
      <div class="mb-2">
        <label for="username" class="form-label">User Name</label>
        <input
        [ngClass]="{'is-invalid':userName.touched && ( userName.hasError('required') || userName.hasError('server')),
          'is-valid':userName.touched && !(userName.hasError('required') ||userName.hasError('server'))
         }"
        formControlName="username"  type="text" class="form-control" id="username" placeholder="Enter your username">
        @if (userName.touched) {
          @if(userName.hasError("required")){
            <span class="text-danger">User Name is Required</span>
          }@else if (userName.hasError("server")) {
            <span class="text-danger">User Name is already exist</span>

          }
        }
      </div>


      <div class="mb-2">
        <label for="email" class="form-label">Email address</label>
        <input
         [ngClass]="{'is-invalid':email.touched && ( email.hasError('required') || email.hasError('email') || email.hasError('server')),
          'is-valid':email.touched && !( email.hasError('required') || email.hasError('email')  || email.hasError('server'))
         }"
           formControlName="email" type="email" class="form-control" id="email" placeholder="example@domain.com">

         @if (email.touched ) {
          @if(email.hasError("required")){
            <span class="text-danger">Email is Required</span>
          }@else if (email.hasError("email")) {
            <span class="text-danger">Please Enter Valid Email</span>
          }@else if (email.hasError("server")) {
            <span class="text-danger">Email is already exist</span>

          }
        }
      </div>

   
      <div class="mb-2">
        <label for="phone" class="form-label">Phone Number</label>
        <input 
         [ngClass]="{'is-invalid':phoneNumber.touched && ( phoneNumber.hasError('required') || phoneNumber.hasError('pattern')),
          'is-valid':phoneNumber.touched && !( phoneNumber.hasError('required') || phoneNumber.hasError('pattern'))
         }"
        formControlName="phoneNumber" type="tel" class="form-control" id="phone" placeholder="01xxxxxxxxx">
          @if (phoneNumber.touched) {
          @if(phoneNumber.hasError("required")){
            <span class="text-danger">Phone Number is Required</span>
          }@else if (phoneNumber.hasError("pattern")) {
            <span class="text-danger">Please Enter Valid PhoneNumber</span>
          }
        }
      
      </div>

   
      <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input
         [ngClass]="{'is-invalid':password.touched  &&  (password.hasError('required') || password.hasError('server')),
          'is-valid':password.touched && !( password.hasError('required') || password.hasError('server')) 
         }"
        formControlName="password" type="password" class="form-control" id="password" placeholder="••••••••">
     
          @if (password.touched) {
          @if(password.hasError("required")){
            <span class="text-danger">Password is Required</span>
          }@else if (password.hasError("server")) {
            <span class="text-danger">Please Make Password Contain Capital Letters And Special Characters</span>

          }
        }
      </div>

      <div class="mb-2">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input 
         [ngClass]="{'is-invalid':confirmPassword.touched  &&  (confirmPassword.hasError('required') || confirmPassword.hasError('server')),
          'is-valid':confirmPassword.touched && !( confirmPassword.hasError('required') || confirmPassword.hasError('server'))
         }"
        formControlName="confirmpassword" type="password" class="form-control" id="confirmPassword" placeholder="••••••••">
          @if (confirmPassword.touched) {
          @if(confirmPassword.hasError("required")){
            <span class="text-danger">Confirm Password is Required</span>
          }@else if (confirmPassword.hasError("server")) {
            <span class="text-danger">The password and confirm password Must be matched</span>

          }
        }
      </div>

      <button (click)="sumbit()" type="submit" class=" d-block btn btn-outline-account m-auto w-50">Register</button>
      <hr class="text-account-color mb-0">
   

       <div class=" d-flex justify-content-between px-2 mt-2">
          <p class=" text-dark fs-5 mt-2">Already have an account? </p>
          <a class="btn btn-login align-self-center" [routerLink]="['/account/login']">Login</a>
        </div>
    </form>
  </div>
</div>

</div>