<div class="bg-account">
    <div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4 w-100" style="max-width: 450px; border-radius: 20px;">
    <h2 class="text-center text-account-color mb-4 ">Change Password</h2>

    <form [formGroup]="changePassForm">

      <div class="mb-3">
        <label for="CurrentPassword" class="form-label">Current Password</label>
        <input 
          [ngClass]="{'is-invalid':CurrentPassword.touched && ( CurrentPassword.hasError('required') || CurrentPassword.hasError('server')),
          'is-valid':CurrentPassword.touched && !(CurrentPassword.hasError('required') ||CurrentPassword.hasError('server'))
         }"
        formControlName="CurrentPassword"  type="password" class="form-control" id="CurrentPassword" placeholder="••••••••">
          @if (CurrentPassword.touched) {
          @if(CurrentPassword.hasError("required")){
            <span class="text-danger">Current Password is Required</span>
          }@else if (CurrentPassword.hasError("server")) {
             <span class="text-danger">Invalid Current Password</span>
          }
        }
      </div>
      <div class="mb-3">
        <label for="NewPassword" class="form-label">New Password</label>
        <input 
            [ngClass]="{'is-invalid':NewPassword.touched && ( NewPassword.hasError('required') || NewPassword.hasError('server')),
          'is-valid':NewPassword.touched && !(NewPassword.hasError('required') ||NewPassword.hasError('server'))
         }"
        formControlName="NewPassword" type="password" class="form-control" id="NewPassword" placeholder="••••••••">
        @if (NewPassword.touched) {
          @if(NewPassword.hasError("required")){
            <span class="text-danger">New Password is Required</span>
          }@else if (NewPassword.hasError("server")) {
             <span class="text-danger">Invalid New Password</span>
          }
        }
        
      
      </div>
      <div class="mb-3">
        <label for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
        <input 
         [ngClass]="{'is-invalid':ConfirmNewPassword.touched && ( ConfirmNewPassword.hasError('required') || ConfirmNewPassword.hasError('server')),
          'is-valid':ConfirmNewPassword.touched && !(ConfirmNewPassword.hasError('required') ||ConfirmNewPassword.hasError('server'))
         }"
        formControlName="ConfirmNewPassword"  type="password" class="form-control" id="ConfirmNewPassword" placeholder="••••••••">
        @if (ConfirmNewPassword.touched) {
          @if(ConfirmNewPassword.hasError("required")){
            <span class="text-danger">Confirm New Password is Required</span>
          }@else if (ConfirmNewPassword.hasError("server")) {
             <span class="text-danger">Confirm and New Password Must be Match</span>
          }
        }
        
      </div>

      <button (click)="submit()" type="submit" class="btn btn-outline-account d-block m-auto w-50">Change Password</button>

    </form>
  </div>
</div>


</div>