<div class="bg-account">
    <div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4 w-100" style="max-width: 450px; border-radius: 20px;">
    <h2 class="text-center mb-4 text-account-color">Reset Password</h2>

    <form [formGroup]="resetPassForm">

      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input
         [ngClass]="{'is-invalid':NewPassword.touched&&  (NewPassword.hasError('required') || NewPassword.hasError('server')),
          'is-valid':NewPassword.touched && !( ConfirmNewPassword.hasError('required') || ConfirmNewPassword.hasError('server'))
         }"
        formControlName="NewPassword" type="password" class="form-control" id="password" placeholder="••••••••">
     
          @if (NewPassword.touched) {
          @if(NewPassword.hasError("required")){
            <span class="text-danger">New Password is Required</span>
          }@else if (NewPassword.hasError("server")) {
            <span class="text-danger">Please Make Password Contain Capital Letters And Special Characters</span>

          }
        }
      </div>

      <div class="mb-4">
        <label for="confirmPassword" class="form-label">Confirm New Password</label>
        <input 
         [ngClass]="{'is-invalid':ConfirmNewPassword.touched  &&  (ConfirmNewPassword.hasError('required') || ConfirmNewPassword.hasError('server')),
          'is-valid':ConfirmNewPassword.touched && !( ConfirmNewPassword.hasError('required') || ConfirmNewPassword.hasError('server'))
         }"
        formControlName="ConfirmNewPassword" type="password" class="form-control" id="confirmPassword" placeholder="••••••••">
          @if (ConfirmNewPassword.touched) {
          @if(ConfirmNewPassword.hasError("required")){
            <span class="text-danger">Confirm Password is Required</span>
          }@else if (ConfirmNewPassword.hasError("server")) {
            <span class="text-danger">The  password and confirm password Must be matched</span>

          }
        }
      </div>

      <button (click)="submit()"  type="submit" class="btn btn-outline-account d-block m-auto w-50">Reset Password</button>

      
    </form>
  </div>
</div>

</div>