<div class="bg-account">
    <div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-5 w-100" style="max-width: 450px; border-radius: 20px;">
    <h2 class="text-center mb-4 text-account-color">Forgot Password</h2>

    <form [formGroup]="forgotPassForm" >
      <div class="mb-4">
        <label for="email" class="form-label">Email address</label>
        <input
        [ngClass]="{'is-invalid':Email.touched && ( Email.hasError('required') || Email.hasError('email') || Email.hasError('server')),
          'is-valid':Email.touched && !( Email.hasError('required') || Email.hasError('email')  || Email.hasError('server'))
         }"    
          formControlName="Email" type="email" class="form-control" id="email" placeholder="example@domain.com">
         @if (Email.touched ) {
          @if(Email.hasError("required")){
            <span class="text-danger">Email is Required</span>
          }@else if (Email.hasError("email")) {
            <span class="text-danger">Please Enter Valid Email</span>
          }@else if (Email.hasError("server")) {
            <span class="text-danger">Email Not Found</span>
          }
        }
      </div>
      <button (click)="submit()" type="submit" class="btn btn-outline-account d-block w-50 ">Send Email</button>
    </form>
  </div>
</div>

</div>